.orderCard {
    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100%;
    /*border: 1px solid #ddd;*/

    background-color: white;
    border: 2px solid #539987;;
    border-radius: 4px;
}

.orderCardBody {
    display: flex;
}

.orderCardId {
    width: 15%;
}

.orderCardDate {
    width: 15%;
}

.orderCardItem {
    width: 35%;
}

.orderCardTotal {
    width: 15%;
}

.orderCardButton {
    align-items: center;
    display: flex;
    width: 20%;
}






.basketCard {
    background-color: white;
    border: 2px solid #539987;;
    border-radius: 4px;

    text-align: left;
    margin-top: 1%;
    margin-bottom: 1%;
    width: 98%;
    /*border: 1px solid #ddd;*/
}

.basketCardBody {
    display: flex;
}

.basketCardName {
    width: 50%;
}

.basketCardQuantity {
    width: 30%;
}

input {
    margin: 0px;
    padding: 0px;
    width: 10%;
}

.basketCardButton {
    align-items: center;
    display: flex;
    width: 20%;
}

.confirm {
    display: flex;
}