:root {
  --primary: #539987;
  --secondary: #0267C1;
  --accent: #F08700;
  --error: #e7195a;
}

body {
  background: #f1f1f1;
  margin: 0;
}

.m-auto {
  margin: auto;
}

#table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: auto;
}
#table button{
  background: #fff;
  color: var(--primary);
  border: 4px solid var(--primary);
  padding: 8px 16px;
  border-radius: 6px;
  font-family: Roboto;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 20px;
}
#table button:hover{
  background-color: var(--secondary);
  color: white;
  border-color: var(--accent);
}
#table td, #table th {
  border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: var(--primary);
  color: white;
}

.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}

header {
  background: #fff;
}

header .container {
  font: Roboto;
  font-size: 18px;
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}
header .container :hover{
color: var(--primary);
  
  
}
header .container img{
  width: 100px;
  
}


.button {
  background-color: white; /* Green */
  border: 2px solid #4CAF50;
  color: black;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: #4CAF50;
  color: white;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
}

.grid {
  display: grid;
  grid-template-columns: 150px auto;
  gap: 8px;
}

.form input {
  padding: 8px;
  width: 200px;
}

.form label {
  text-align: right;
  margin-right: 4px;
}

.box {
  max-width: 700px;
  margin: auto;
}


header a {
  color: #333;
  text-decoration: none;
}

.pages {
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 100px;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
.button-group {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.button-group button{
  background: #fff;
  color: var(--primary);
  border: 3px solid var(--primary);
  padding: 12px 18px;
  border-radius: 8px;
  font-family: Roboto;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 20px;
  
}
.button-group button:hover{
  background-color: var(--secondary);
  color: white;
  border-color: var(--accent);
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

nav {
  display: flex;
  align-items: center;
}

nav a {
  margin-left: 10px;
}

form.signup,
form.login {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #0af;
  border-radius: 4px;
}

nav button {
  background: #fff;
  color: var(--primary);
  border: 2px solid var(--primary);
  padding: 6px 10px;
  border-radius: 4px;
  font-family: Roboto;
  cursor: pointer;
  font-size: 1rem;
  margin-left: 10px;
}
